:root {
  --light-grey: #d8d8d8;
  --grey: #a8a9a9;
  --derk-grey: #4a4a4a;
  --white: #fff;
  --blue: #4a90e2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  max-width: 100%;
  height: 64px;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* logo tab */
  .logo {
    display: flex;
    align-items: center;
    .img {
      font-size: 32px;
    }
    span {
      color: var(--grey);
    }
  }

  /* navigation */
  .navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    li {
      margin: 16px;
    }
  }
  @media screen and (max-width: 768px) {
    .navbar,
    .logo {
      display: none;
    }
  }
}

/*section mpbile icons*/
.header .icon-mb {
  display: none;

  @media screen and (max-width: 460px) {
    display: inline-block;
  }
}

/* hero  section */
.hero {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--light-grey);

  /* hero firsh section */
  .hero-firsh {
    width: 60%;
    overflow: hidden;
    margin: 32px 24px;
    img {
      width: 100%;
    }
  }

  /* hero section section */
  .hero-second {
    color: var(--derk-grey);
    h1 {
      font-size: 4rem;
      margin: 32px 0px;
    }
    p {
      font-size: 2rem;
      margin: 24px 0px;
    }
    .btn {
      font-size: 1.5rem;
      padding: 8px;
      display: flex;
      justify-content: center;
      text-decoration: none;
      background: var(--derk-grey);
      color: var(--white);
    }
  }
  @media screen and (max-width: 480px) {
    flex-direction: column;
    .hero-firsh {
      width: 100%;
      margin: 0px;
      padding: 0px;
    }
    .hero-second h1 {
      margin: 32px 16px;
      font-size: 3rem;
    }
    .hero-second p {
      margin: 0px 16px 24px;
      font-size: 1.75rem;
    }
    .hero-second .btn {
      margin: 24px 16px 32px 16px;
      background: var(--grey);
    }
  }
}

/* infomation section section */
.info {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--white);

  /* information mian section */
  .info-main {
    width: 60%;
    height: 100%;
    overflow: hidden;
    margin: 32px 24px;
    img {
      width: 100%;
    }
    h3 {
      font-size: 2.5rem;
      margin-top: 32px;
    }
    p,
    span {
      font-size: 1.5rem;
      margin-top: 24px;
      margin-bottom: 32px;
    }
    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  /* hero second section */
  .info-content {
    height: 100%;
    .content-blog {
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 24px;
      margin-top: 16px;
      .img-desktop {
        width: 35%;
        margin-right: 24px;
      }
    }
  }
  .content-detail {
    flex-direction: column;
    align-content: center;
    h4 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.3rem;
      margin: 8px 0px;
    }
    a {
      font-size: 1.2rem;
      text-decoration: none;
      color: var(--blue);
    }
  }
}
