:root {
  --light-grey: #d8d8d8;
  --grey: #a8a9a9;
  --derk-grey: #4a4a4a;
  --white: #fff;
  --blue: #4a90e2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 3rem;
  color: var(--derk-grey);
}
h4 {
  font-size: 1.8rem;
  color: var(--derk-grey);
}
p,
span {
  font-size: 1.75rem;
  color: var(--derk-grey);
}
.header {
  max-width: 100%;
  height: 64px;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* logo tab */
  .logo {
    display: flex;
    align-items: center;
    .img {
      font-size: 32px;
    }
    span {
      color: var(--grey);
    }
  }

  /* navigation */
  .navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    li {
      margin: 16px;
    }
  }
  @media screen and (max-width: 768px) {
    .navbar,
    .logo {
      display: none;
    }
  }
}

/*section mpbile icons*/
.header .icon-mb {
  display: none;

  @media screen and (max-width: 460px) {
    display: inline-block;
  }
}
.header .icon-mb {
  display: none;

  @media screen and (max-width: 460px) {
    display: inline-block;
  }
}

/* hero  section */
.hero {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--light-grey);

  /* hero firsh section */
  .hero-firsh {
    width: 60%;
    overflow: hidden;
    margin: 32px 24px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  /* hero section section */
  .hero-second {
    color: var(--derk-grey);
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 2rem;
      margin: 24px 0px;
    }
    .button {
      font-size: 1.5rem;
      padding: 8px;
      background: var(--derk-grey);
      color: var(--white);
    }
  }
}

@media screen and (max-width: 480px) {
  .hero {
    flex-direction: column;
  }
  .hero .hero-firsh {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .hero .hero-second {
    width: 100%;
    .button {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 32px 16px;
      background: var(--grey);
    }
  }
}

/* hero section section */
.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--white);

  /* info-main */
  .info-main {
    width: 60%;
    overflow: hidden;
    img,
    h3,
    p,
    span {
      width: 100%;
      margin: 32px 24px;
    }
  }
  .info-content {
    width: 40%;
    height: auto;
    .orinetation {
      width: 100%;
      display: flex;
      align-content: center;
      margin: 32px;
      padding-left: 24px;
      img {
        width: 35%;
        margin-right: 24px;
      }
      .orientation-detail {
        flex-direction: column;
        align-content: center;
        p {
          font-size: 1.3rem;
          margin: 24px 0px;
        }
        a {
          font-size: 1.3rem;
          text-decoration: none;
          color: var(--blue);
        }
      }
    }
  }
}
